<html>

<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link href="/css/common.css" type="text/css" rel="stylesheet">
	<link href="/css/admin.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>

	<div class="box">

		<div class="tabs">
			<button class="tab-button active">Games</button>
			<button class="tab-button">Participants</button>
			<div class="logout">Log out</div>
		</div>

		<div class="tab-container">
			
			<div id="Games" class="tab-content">
				<table class="games striped bordered">
					<thead>
						<th>&alpha;</th>
						<th>&beta;</th>
						<th>&gamma;</th>
						<th>T</th>
						<th>w</th>
						<th></th>
					</thead>

					<tbody id="game-table-body">
						<% games.forEach((game) => { %>
						<tr id="<%= game.id %>">
							<td class="alpha"><%= game.alpha %></td>
							<td class="beta"> <%= game.beta  %></td>
							<td class="gamma"><%= game.gamma %></td>
							<td class="t">	  <%= game.t 	 %></td>
							<td class="w">    <%= game.w 	 %></td>
							<td class="no-wrap">
								<% if (game.is_warmup) { %>
									Warm-Up
								<% } %>
								<div class="delete">Delete</div>
							</td>
						</tr>
						<% }); %>
					</tbody>
					
					<tfoot>
						<td><input class="param float-only" type="text" id="alpha" placeholder="0.5"></td>
						<td><input class="param float-only" type="text" id="beta" placeholder="0.5"></td>
						<td><input class="param float-only" type="text" id="gamma" placeholder="0.5"></td>
						<td><input class="param int-only" type="text" id="t" 	placeholder="10"></td>
						<td><input class="param float-only" type="text" id="w" placeholder="15"></td>
						<td>
							<button class="alt small add-games">ADD</button>
						</td>
					</tfoot>
				</table>
			</div>

			<div id="Participants" class="tab-content">
				<div class="content">
					<h3>Number of Pairs: 
						<label class="count"><%= count %></label>
					</h3>
					<div class="input-board">
						<input class="alt int-only add-pairs" type="text" placeholder="1~100">
						<button class="alt add-pairs">ADD</button>
					</div>
					<div class="line"></div>
					<div class="flexbox">
						<div class="panel left">
							<table class="participants striped bordered">
								<thead>
									<th>Pairs</th>
									<th></th>
								</thead>

								<tbody id="participant-table-body">
								<% pairs.forEach(function(p) { %>
									<tr class="button">
										<td>
											<p><%= p.first %></p>
											<p><%= p.second %></p>
										</td>
										<td>
											<p> 》 </p>
											<div class="delete">Delete</div>
										</td>
								<% }); %>
								</tbody>
							</table>
							<div class="turn-buttons">
								<button class="alt turn"> < </button>
								<div class="pages"></div>
								<button class="alt turn"> > </button>
							</div>
							
						</div>
					
						<div class="panel right">
							<div class="roles">
								Buyer: 
								<label id="buyer"></label>
								Seller:
								<label id="seller"></label>
							</div>
							<table class="insight bordered striped">
								<thead>
									<th>&alpha;</th>
									<th>&beta;</th>
									<th>&gamma;</th>
									<th>T</th>
									<th>w</th>
									<th>2nd</th>
									<th></th>
								</thead>
								<tbody id="insight-table-body">
								</tbody>
								<tfoot>
									<td colspan="8">Total: 0</td>
								</tfoot>
							</table>

							<!-- <div class="no-wrap"><p>Assign Games</p></div>

							<table class="assignment bordered">
								<thead>
									<th></th>
									<th id="buyer"></th>
									<th id="seller"></th>
									<th>&alpha;</th>
									<th>&beta;</th>
									<th>&gamma;</th>
									<th>T</th>
									<th>w</th>
									<th>n</th>
								</thead>
								<tbody id="assignment-table-body">
								</tbody>
								<tfoot>
									<td colspan="9">
										<button class="alt assign-games">Confirm</button>
									</td>
								</tfoot>
							</table> -->
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>

	<script type="text/javascript" src="/js/admin.js"></script>

</body>

</html>