<html>

<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link href="/css/admin.css" type="text/css" rel="stylesheet">
</head>

<body>

	<div class="box">

		<div class="tabs">
			<button class="tab-button active" onclick="openTab(event, 'Games')">Games</button>
			<button class="tab-button" onclick="openTab(event, 'Participants')">Participants</button>
			<div class="logout" onclick="location.href='/login'">Log out</div>
		</div>

		<div class="tab-container">

			<div id="Games" class="tab-content">
				<table class="game-table game-striped game-border">
					<thead>
						<th>Alpha</th>
						<th>Beta</th>
						<th>Gamma</th>
						<th>T</th>
						<th>w</th>
						<th>n</th>
						<th></th>
					</thead>

					<tbody id="table-body">
						<% games.forEach(function(game) { %>
						<tr>
							<td><%= game.alpha %></td>
							<td><%= game.beta %></td>
							<td><%= game.gamma %></td>
							<td><%= game.t %></td>
							<td><%= game.w %></td>
							<td><%= game.n %></td>
							<td>
								<button>DELETE</button>
							</td>
						</tr>
						<% }); %>
					</tbody>
					
					<tfoot>
						<td><input class="param" type="text" id="alpha" placeholder="alpha" onkeypress="floatOnly(event)"></td>
						<td><input class="param" type="text" id="beta" placeholder="beta" onkeypress="floatOnly(event)"></td>
						<td><input class="param" type="text" id="gamma" placeholder="gamma" onkeypress="floatOnly(event)"></td>
						<td><input class="param" type="text" id="t" placeholder="T" onkeypress="intOnly(event)"></td>
						<td><input class="param" type="text" id="w" placeholder="w" onkeypress="floatOnly(event)"></td>
						<td><input class="param" type="text" id="n" placeholder="n" onkeypress="intOnly(event)"></td>
						<td>
							<button onclick="addGames()">ADD</button>
						</td>
					</tfoot>
`
				</table>
			</div>

			<div id="Participants" class="tab-content">
				<h3>Participants</h3>
				<p>Paris is the capital of France.</p>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script>
		$("#Games").show();
		function openTab(event, tabId) {
			$(".tab-content").hide();
			$("#" + tabId).show();
			$(".tab-button").removeClass("active");
			event.currentTarget.className += " active";
		}

		function addGames(){
			var isEmpty = false;
			$(".param").each(function(index){
				if (!$(this).val()) {
					isEmpty = true;
				}
			});
			if (isEmpty) {
				alert("Parameter cannot be null!");
				return;
			}

			var alpha = parseFloat($('#alpha').val()),
					beta 	= parseFloat($('#beta').val()),
					gamma =	parseFloat($('#gamma').val()),
					t 		=	parseInt($('#t').val()),
					w			=	parseFloat($('#w').val()),
					n 		=	parseInt($('#n').val());

			if (n == 0) {
				alert("n cannot be 0!");
				$('#n').val('');
				return;
			}

			$.ajax({
            url: 	"/admin/add_games",
            type: "POST",
            data: {
            	"alpha": alpha,
            	"beta":  beta, 
            	"gamma": gamma,
            	"t":     t,
            	"w":     w,
            	"n":     n  
            },
            success : function(response) {
                $(".param").val('');
                $("#table-body").append(
		                	"<tr>" +
												"<td>" + response.alpha + "</td>"+
												"<td>" + response.beta + "</td>"+
												"<td>" + response.gamma + "</td>"+
												"<td>" + response.t + "</td>"+
												"<td>" + response.w + "</td>"+
												"<td>" + response.n + "</td>"+
												"<td><button>DELETE</button></td>"+
											"</tr>");
            }
        });
		}


	</script>

</body>

</html>